body{
  /* background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6); */
  background: #000099;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
overflow:auto;}
body{
  text-align: center;
  align-content: center;
  justify-content: center;
  color:aliceblue;}

  input[type = "checkbox"]{
    background-color: red;
  }